@use 'hero';
@use 'components/infos_bar';
@use 'components/_buttons';
@use 'event';
@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variables.$textColor;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width:640px) {
        max-width: 80%;
        margin: 0 auto;
    }

    @media (max-width:1024px) and (min-width:641px){
        max-width: 90%;
    }
}